<div class="howto">

<!-- model:postの解説 -->
<!-- post = @post、　またpostがnilのときはcreateアクションに、そうでないときはeditアクションに勝手に推測して飛ばす -->
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="step1">
    <h1>Step1 背景画像選択</h1>
    <!-- 背景画像はラジオボタンで選択形式 -->
    <div class="img">
        <label><%= form.radio_button :kind, "black" %><%= image_tag 'black.jpg', width: '200' %></label>
        <label><%= form.radio_button :kind, "red" %><%= image_tag 'red.jpg', width: '200' %></label>
    </div>
  </div>


  <div class="step2">
    <h1>Step2 画像内の文字入力</h1>
    <%= form.text_area :content, size: "100x10", class:'form-control', rows:"3" %>
  </div>

  <div class="actions">
    <%= form.submit "画像を確認する（まだツイートされません）", id: 'submit', class:"square_btn" %>
  </div>


<% end %>

</div>
