<!-- model:postの解説 -->
<!-- post = @post、またpostがnilのときはcreateアクションに、そうでないときはeditアクションに勝手に推測して飛ばす -->
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="block bg-orange">
     <p style="color: white;", id="animation">知りたいことがあるけど知恵袋に投稿するほどじゃない <br>
     フォロワーのみんなに聞いてみたいことがある <br>
     そんな人のためにAnswer.meは生まれました <br>
     ログイン不要で使えるのでまずは試してみましょう</p>
</div>

<div class="block bg-yellow">
  <h2 id="animation2">面倒な登録不要！簡単3STEP</h2>
  <%= image_tag "3step.png"%>
</div>

<div class="block bg-orange"">
  <div class="text-bar, id="animation3"">
    <h2>まずはフレームを選びましょう</h1>
  </div>
  <!-- 背景画像はラジオボタンで選択形式 -->
  <div class="img">
    <label class="frame"><%= form.radio_button :kind, "black" %><%= image_tag 'black.jpg', width: '80%'%></label>
    <label class="frame"><%= form.radio_button :kind, "red" %><%= image_tag 'red.jpg', width: '80%'%></label>
  </div>
</div>


<div class="block bg-deep-orange">
  <div class="text-bar", id="animation4">
    <h2>質問を入力してください</h1>
  </div>
  <%= form.text_area :content, size: "50x10", class:'form-control', rows:"3" %>
</div>

<div class="block bg-yellow", id="animation4">
  <%= form.submit "画像を確認する（まだツイートされません）", id: 'submit', class:"square_btn" %>
</div>

<% end %>
</div>


<footer>
  <%= link_to "プライバシーポリシー", privacy_path%>
</footer>

<script type="text/javascript">
$('#animation3').css('visibility','hidden');
$(window).scroll(function(){
 var windowHeight = $(window).height(),
     topWindow = $(window).scrollTop();
 $('#animation3').each(function(){
  var targetPosition = $(this).offset().top;
  if(topWindow > targetPosition - windowHeight + 100){
   $(this).addClass("fadeInDown");
  }
 });
});

$('#animation4').css('visibility','hidden');
$(window).scroll(function(){
 var windowHeight = $(window).height(),
     topWindow = $(window).scrollTop();
 $('#animation4').each(function(){
  var targetPosition = $(this).offset().top;
  if(topWindow > targetPosition - windowHeight + 100){
   $(this).addClass("fadeInDown");
  }
 });
});
</script>
