
<div class="step3">
  <h1 class="title">答える画面</h1>
</div>

  <% if @comment.present? %>
    <img class="answer_img" src= "https://s3-ap-northeast-1.amazonaws.com/answer-me-716-production/images/<%= @comment.postid %>.png" alt="">
  <% else %>
    <img class="answer_img" src= "https://s3-ap-northeast-1.amazonaws.com/answer-me-716-production/images/<%= params[:id] %>.png" alt="">
  <% end %>

  <div class="row">
    <div class="reply">
      <%= form_tag("/posts/comment") do %>
      <form>
        <div class="form-group">
          <!-- <div class="item1">
            <label for="user">ユーザー名</label>
            <input name="user" class="form-control">
          </div> -->
          <div class="item2">
            <label for="answer"></label>
            <textarea name="answer" class="box2" rows="5"></textarea>
            <!-- <input name="post_id" type="hidden" > -->
            <textarea name="post_id" class="hidden" style="display:none"><%= @post_id %></textarea>
          </div>
        </div><!--form-group-->
        <button type="submit" class="square_btn">答える</button>
      <% end %>
    </div>
  </div>


  <div class="step3">
    <h1 class="title">みんなの答え</h1>
  </div>
    <div class="answers-box">
      <div class="answers">
        <% def comment %>
               <% if @comments != nil %>
                <% @comments.each do |comment| %>
                  <div class="balloon5">
                      <div class="chatting">
                        <div class="answer">
                          <p><%= comment.answer %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                <h3 class="title">まだコメントがありません</h3>
              <% end %>
          <% end %>
        <% comment %>
      </div>
    </div>



        <div class="end">
          <%= link_to "TOPに戻る", root_path, class:"square_btn my-5" %>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
  <script>
    bubbly({
    colorStart: '#fff4e6',
    colorStop: '#ffe9e4',
    blur:1,
    compose: 'source-over',
    bubbleFunc:() => `hsla(${Math.random() * 50}, 100%, 50%, .3)`
    });
  </script>
