<!DOCTYPE html>
<html>
  <head>
    <title>Answer.me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Google Adsense -->
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6262833481148006",
        enable_page_level_ads: true
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123149118-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123149118-1');
    </script>


    <!-- 追記① モバイル端末表示対応 -->
    <meta name="viewport" content="width=device-width">

    <!-- 追記③ Twitterカード設定 -->
    <!-- ApplicationHelperからget_twitter_card_infoメソッドを呼び出している -->
    <!-- if @postがtrueなら@postをelseならnilを入れる　↓ -->
    <% twitter_card = get_twitter_card_info(@post ? @post : nil) %>
    <meta name="twitter:card" content=<%=twitter_card[:card]%> />
    <meta property="og:url" content=<%=twitter_card[:url]%> />
    <meta property="og:title" content=<%=twitter_card[:title]%> />
    <meta property="og:description" content=<%=twitter_card[:description]%> />
    <meta property="og:image" content=<%=twitter_card[:image]%> />
  </head>

  <body>
    <!-- 追記② 余白作成 -->


      <%= yield %>
  </body>
</html>
